

.about__section{
   
}


.aboutus__left-part, .aboutus__right-part{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 10px;
}